@import url("reset.css");
@import url("../fonts/fonts.css");
html {margin: 0; padding: 0;}
body { 
  background:url(../images/bgtile.gif);
  margin: 0; padding: 0;
  font: normal 14px/20px 'Swis721LtCnBTLight';
}
.clearfloat {
	clear: both;
	display: block;
}
.bluetext, .bluetext a {
	font-size: 13px;
	color: #00b1eb;
	text-decoration: none;
}
.orangetext , .orangetext a{
	font-size: 13px;
	color: #f7931e;
	text-decoration: none;
}
.bluetext a:hover, .orangetext a:hover{
	color: #000;
}
/*========site========*/
#headwrapper {
	width: auto;
	height: 95px;
	background: #00b1eb;
}
.header {
	width: 990px;
	margin: 0 auto;
}
.nav {
	overflow: hidden;
	float: right;
	width: 700px;
}
.nav li {
  	font: normal 14px/20px 'Swis721LtCnBTLight';
	color: #fff;
	float:left; 
	width:115px;
	margin: 15px 5px 0 5px;
	height: 70px;
	text-transform: uppercase;
	text-align: center;
}
.nav li a{
	color: #fff;
	text-decoration: none;
}
.nav li a:hover {
	color: #000;
	text-decoration: none;
}
.logolaundry {
	margin:0 20px;
	width: 210px;
	position: absolute;
	z-index: 100;
}
.nav-icon {
	margin: 0 0 10px 0;
	height: 40px;
	vertical-align: center;
}
#container {
	width: 990px;
	margin: 0 auto;
	background: #fff;
}
.map {
}
#content {
	min-height: 450px;

}
.contenttext li {
	list-style-type: none;
	height: 40px;
}
.leislist {
	float: left;
	margin-right: 30px;
	width: 230px;
}
.contentheading {
  	font: normal 23px/20px 'Swis721CnBTRoman';
	margin:  20px 0;
	text-transform: uppercase;
}
.leftcontent {
	font: normal 14px/20px 'Swis721CnBTRoman';
	padding: 30px;
	padding-right: 0px;
	float:left;
	width: 550px;
	letter-spacing: 0.5px;
}
.rightcontent {
	padding: 30px;
	padding-left: 10px;
	float: right;
	width: 350px;
	text-align: left;
}
.banner {
	height:320px;
	position: relative;
	z-index:1;
}
.bannerheadingmain {
  	font: normal 23px 'Swis721LtCnBTLight';
	color: #fff;
	background: #000;
	position: relative;
	height: 20px;
	width: 500px;
	float:left;
	z-index:2;
	top: -270px;
	text-transform: uppercase;
	padding: 10px 0 10px 30px;
}
.bannerheading2nd {
  	font: normal 18px 'Swis721LtCnBTLight';
	color: #fff;
	background: #00b1eb;
	position: relative;
	height: 16px;
	width: 310px;
	float:right;
	z-index:2;
	top: -70px;
	text-transform: uppercase;
	padding: 10px 0 10px 30px;
}
.homecolumn {
	float:left;
	width: 300px;
	margin-left:22px;
	text-transform: uppercase;
}
.r-heading1 {
	float: right;
  	font: normal 16px 'Swis721LtCnBTLight';
	margin-right: 10px;
	text-transform:uppercase;
}
.r-heading2 {
	float: right;
	color: #fff;
	background: #00b1eb;
  	font: normal 14px 'Swis721LtCnBTLight';
	margin-right: 10px;
	text-transform:uppercase;
	padding: 5px 10px;
	margin: 5px 0;
}
.homecolumn a {
	color: #00b1eb;
	text-decoration: none;
}
.pdficon {
	float:left;
	margin: -10px 10px 0 0;
}
.leisicon {
	margin-bottom: -10px;
	height: 33px;
}
.tab {
	width: auto;
	float: left;
	margin: 20px 0 0 0;
}
.tabicon {
	float: left;
	margin: 0 10px 0 0;
	}
.tabcontent {
	float: left;
	margin: 0 10px;
}
.bluedot {
	color: #00b1eb;
	font-size: 15px;
}
#footer {	
	padding: 30px;
  	font: normal 11px 'Swis721LtCnBTLight';
	text-transform: uppercase;
}
#footer a {
	color: #000;
	text-decoration:none;
}
#footer a:hover {
	color: #00b1eb;
	text-decoration:none;
}
.footerline {
	height: 1px;
	background:#f4f4f4;
	margin-bottom: 20px;
}
.footerleft {
	float: left;
	margin-right: 20px;
}
.footerright {
	float: right;
}
